<script src="/webjars/easymde/dist/easymde.min.js" type="text/javascript" charset="UTF-8"></script>
<link rel="stylesheet" media="screen" href="/webjars/easymde/dist/easymde.min.css">
<style>
    .editor-toolbar {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<textarea id="{id}" name="{name}"  class="form-control {#ifError name}is-invalid{/}">{value}</textarea>

<script type="text/javascript">
(function(){
    new EasyMDE({ element: document.getElementById("{id}") });
})();
</script>