<style>
    input.search {
        display: none;
    }

    .search-close {
        display: none;
    }
</style>
<script type="module">
        import { Controller } from "stimulus";

        Stimulus.register("search", class extends Controller {
            static targets = [ "open", "close", "input" ];

            open() {
                this.inputTarget.style.display = 'block';
                this.openTarget.style.display = 'none';
                this.closeTarget.style.display = 'inline';
                this.inputTarget.focus();
            }
            close() {
                this.inputTarget.style.display = 'none';
                this.openTarget.style.display = 'inline';
                this.closeTarget.style.display = 'none';
            }

            clear() {
                this.close();
                this.inputTarget.value = '';
            }
    });
</script>
<div class="d-flex flex-grow-1" data-controller="search" data-action="refreshNoteList@document->search#clear">
    <a
            class="btn search-open"
            data-search-target="open"
            data-action="click->search#open"
    ><i class="bi bi-search"></i> Search</a>
    <a
            class="btn search-close"
            data-search-target="close"
            data-action="click->search#close"
    ><i class="bi bi-caret-left"></i></a>
    <input type="search"
           data-search-target="input"
           class="search form-control flex-grow-1"
           name="search"
           value="{value}"
           placeholder="search"
           hx-trigger="keyup changed delay:500ms, search"
           hx-params="*"
           hx-get="{uri:Notes.notes()}"
           hx-target="#note-list"
    />
</div>