{#include main.html}
{#title}My Notes{/title}
<div class="left-bar d-flex justify-content-between">
    <div class="p-2">
        <div class="mb-3 d-flex">
            <a
                    class="btn btn-light"
                    href="{uri:Notes.newNote()}"
                    hx-get="{uri:Notes.newNote()}"
                    hx-push-url="true"
                    hx-target="#note-editor"
            ><i class="bi bi-plus"></i> New Note</a>
            {#NoteSearch value=search /}
        </div>

        {#fragment id=noteList}
        <ul
                id="note-list"
                hx-swap-oob="true"
                class="note-list list-group"
        >
            {#for note in notes}
            <li class="{#if note.id == currentNoteId}active {/if}list-group-item note-item d-flex justify-content-between align-items-center" >
                <a
                        href="{uri:Notes.editNote(note.id)}"
                        hx-get="{uri:Notes.editNote(note.id)}"
                        hx-push-url="true"
                        hx-target="#note-editor"
                        hx-swap="innerHTML"
                >
                {note.name}
                </a>
                {#if note.id != currentNoteId}
                <button class="btn note-delete"
                        hx-delete="{uri:Notes.deleteNote(note.id)}"
                        hx-confirm="Are you sure?"
                        hx-target="closest .note-item"
                        hx-swap="outerHTML swap:0.5s"
                />
                    <i class="bi bi-trash"></i>
                </button>
                {#else}
                <i class="bi bi-caret-right"></i>
                {/if}
            </li>
            {/for}
        </ul>
        {/fragment}
    </div>
    <div id="note-editor" class="flex-grow-1 p-2">
        {#if currentNote}
            {#fragment id=noteForm}
                {#let path=currentNote.id.ifTruthy(uri:Notes.saveNote(currentNote.id)).or(uri:Notes.saveNewNote())}
                <form class="note-form" hx-post="{path}" hx-encoding='multipart/form-data' hx-target="this" hx-push-url="true">
                    {#authenticityToken/}
                    <div class="editor-wrapper">
                        <div>
                            <input name="name" class="form-control {#ifError 'name'}is-invalid{/}" value="{inject:flash.get('name') ?: currentNote.name}" placeholder="Enter new note name"/>
                            {#ifError 'name'}
                            <div class="invalid-feedback">
                                Error: {#error 'name'/}
                            </div>
                            {/ifError}
                        </div>
                        <div class="mb-3">
                            {#NoteEditor id="note-content" name="content" value=inject:flash.get('content').or(currentNote.content) /}
                            {#ifError 'content'}
                            <div class="invalid-feedback">
                                Error: {#error 'content'/}
                            </div>
                            {/ifError}
                        </div>
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
                {/let}
            {/fragment}
        {/if}
    </div>
</div>
{/include}
