<!DOCTYPE html>
<html>
  <head>
    <title>{#insert title/}</title>
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/webjars/htmx.org/dist/htmx.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/webjars/easymde/dist/easymde.min.js" type="text/javascript" charset="UTF-8"></script>
    <link rel="stylesheet" media="screen" href="/webjars/easymde/dist/easymde.min.css">
    <script type="importmap">
      {
        "imports":{
            "stimulus":"/webjars/hotwired__stimulus/dist/stimulus.js"
	    }
      }

    </script>
    <script type="module">
        import { Application } from "stimulus";
        window.Stimulus = Application.start();
    </script>
    {#insert moreStyles /}
    {#insert moreScripts /}
  </head>
  <body hx-ext="morphdom-swap">
    <div class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{uri:Notes.notes}">
          <img src="/assets/images/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          My Notes
        </a>
      </div>
    </div>
    {#insert /}
  </body>
</html>
