<!DOCTYPE html>
<html>
  <head>
    <title>{#insert title/}</title>
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/webjars/bootstrap-icons/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="UTF-8"></script>

    {#insert moreStyles /}
    {#insert moreScripts /}
  </head>
  <body>
    <div class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{uri:Notes.notes}">
          <img src="/assets/images/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
          My Notes
        </a>
      </div>
    </div>
    {#insert /}
  </body>
</html>
